{{> head}}
{{> navbar}}
<main>
    <div class="page page--404 wrapper">
        <div class="page__title page__title--centered">
            <h1>{{ translate 'error.message-1' }}</h1>

        </div>
        <div class="container container--centered">
            <div class="articles">
                {{ translate 'error.message-2' }}
                <p>
                    <a href="{{@website.url}}" class="btn btn--outline">
                        {{ translate 'error.button' }}</a>
                </p>
            </div>
        </div>
    </div>
</main>
{{> footer}}
